@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
	font-family: "Spoqa Han Sans Neo", "sans-serif";

	--primary-color: #457b9d;
	--secondary-color: #57c1c5;
	--dark-color: #1d3557;
	--light-color: #f1f7f7;
	--highlight-color: #e63946;
	--border-color: #dbdbdb;
	--grey-text-color: #767676;
}
/* #f1faee */
