.wrap {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
}

.title {
	margin: 40px auto 40px;
	font-weight: 500;
	font-size: 72px;
	color: var(--primary-color);
}

.btn-create {
	margin-bottom: 20px;
	padding: 15px 10px;
	border-radius: 10px;
	border: 1.5px solid var(--border-color);
	color: var(--primary-color);
}

.btn-create:hover {
	-webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-create span {
	font-family: "spoqa han sans neo", "sans-serif";
	font-size: 16px;
	font-weight: 500;
}

.icon-create {
	float: left;
	margin-right: 10px;
}

.todo-container {
	width: 800px;
	height: 560px;
	border-radius: 10px;
	border: 1.5px solid var(--border-color);
	background-color: #ffffff;
	-webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
	-webkit-transition-timing-function: cubic-bezier(0.03, 0.16, 1.5, 1.5);
	-o-transition-timing-function: cubic-bezier(0.03, 0.16, 1.5, 1.5);
	transition-timing-function: cubic-bezier(0.03, 0.16, 5, 5);
}

.todo-container.closed {
	width: 418px;
	-ms-flex-preferred-size: 560px;
	flex-basis: 560px;
	border-radius: 10px;
	border: 1.5px solid var(--border-color);
	background-color: #ffffff;
	-webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.logout {
	margin-top: 30px;
	color: var(--grey-text-color);
	text-decoration: underline;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}

.logout:hover {
	color: var(--primary-color);
}
