.label {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	color: var(--grey-text-color);
	font-weight: 500;
	font-size: 12px;
}

.label:last-of-type {
	margin-top: 16px;
}

.input {
	width: 322px;
	line-height: 33px;
	border-bottom: solid 1px var(--border-color);
}
