@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
	font-family: "Spoqa Han Sans Neo", "sans-serif";

	--primary-color: #457b9d;
	--secondary-color: #a8dadc;
	--dark-color: #1d3557;
	--light-color: #f1faee;
	--highligh-color: #e63946;
	--border-color: #dbdbdb;
	--grey-text-color: #767676;
}
