.todo-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 20px;
	padding: 2px;
	background-color: #ffffff;
	border: 1.5px solid var(--border-color);
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.todo-list:hover {
	-webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.desc {
	min-width: 276px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 10px 3px;
	font-size: 14px;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

hr {
	position: absolute;
	left: 35px;
	width: 276px;
	height: 2px;
	border: 0;
	border-top: 1px solid var(--border-color);
}

.icon-checkbox {
	padding: 10px;
	font-size: 13.5px;
	color: var(--highlight-color);
}

.icon-checkbox:hover {
	background-image: url("../../svg/square-check.svg");
	background-repeat: no-repeat;
	background-size: 13.5px;
	background-position: 50%;
}

.icon-modify {
	padding: 12px;
	margin-right: 5px;
	color: var(--border-color);
}

.icon-modify:hover {
	color: var(--dark-color);
}

.icon-checkbox.checked,
.desc.checked,
.icon-modify.checked {
	color: var(--border-color);
}

.icon-checkbox.checked:hover {
	color: var(--highlight-color);
}

.icon-modify.checked:hover {
	color: var(--grey-text-color);
}
