.todo-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 20px;
	padding: 2px;
	background-color: #ffffff;
	border: 1.5px solid var(--border-color);
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}

.todo-list:hover {
	-webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.desc {
	min-width: 276px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 10px 3px;
	font-size: 14px;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.icon-checkbox {
	padding: 10px;
	color: var(--primary-color);
	color: var(--highlight-color);
}

.icon-menu {
	padding: 12px;
	margin-right: 5px;
	color: var(--grey-text-color);
}
