.btn {
	width: 322px;
	line-height: 44px;
	border-radius: 20px;
	background-color: var(--primary-color);
	color: #ffffff;
	font-family: "Noto Sans KR", "sans-serif";
	font-weight: 400;
	font-size: 14px;
}

.btn:disabled {
	border: 1px solid var(--primary-color);
	background-color: #ffffff;
	color: var(--primary-color);
	cursor: not-allowed;
}
